@use "../settings" as *;
@use "../base/mixins" as *;

@forward "../libs/accordion";
@forward "../libs/lenis";

// Example usage of variables

[class*="__container"] {
	max-width: toRem($containerWidth);
	margin: 0 auto;
	padding: 0 toRem($containerPadding);
	@media (max-width: $tablet) {
		padding: 0 toRem($containerPadding / 2);
	}
}
[class*="__cnt-left"] {
	max-width: calc((100vw - (100vw - toRem($containerWidth)) * 0.5) - toRem(11));
	margin-left: auto;
	padding-left: toRem($containerPadding);
	@media (max-width: $tablet) {
		padding-left: toRem($containerPadding / 2);
	}
	@media (max-width: $mobileSmall) {
		padding-right: toRem($containerPadding/2);
	}
}

// Сниппет (HTML): ibg (div картинкой и классами)
[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg--contain"] {
	img {
		object-fit: contain;
	}
}

// .rub:after {
// 	content: "₽";
//  }

// @extend %имя_шаблона;
// Сніппет (SCSS): ex
