//====================================================================================================
@use "../settings" as *;
@use "../base/mixins" as *;

//====================================================================================================
.footer {
	// .footer__top
	&__cnt-left {
		display: flex;
		align-items: center;
		@media (max-width: $tablet) {
			flex-direction: column;
			padding: 0;
		}
	}
	&__title {
		font-size: toRem(60);
		font-family: "Montserrat";
		font-weight: 500;
		padding-block: toRem(30);
		@include adaptiveValue("font-size", 60, 30);
		@media (max-width: $tablet) {
			padding-inline: toRem($containerPadding / 2);
			text-align: center;
		}
	}
	&__column {
	}
	.footer-content {
		flex: 1 0 40%;
		@media (max-width: $tablet) {
			flex: 1 1 auto;
		}
	}
	.footer-video {
		position: relative;
		width: 100%;
		padding-top: 30%;
		@media (max-width: $tablet) {
			padding-top: 50%;
		}
	}
	&__top {
		position: relative;
		width: 100%;
		background-color: #000;
		color: var(--white);
		display: flex;

		video {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 45%);
			@media (max-width: $tablet) {
				mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 45%);
			}
		}
	}
}
.footer {
	// .footer__main

	&__main {
		padding-block: toRem(30);
		background-color: #001227;
		.header-logo {
			&__text {
				color: var(--white);
			}
		}
		.header-logo-icon {
			background-color: var(--white);
			color: var(--primary);
		}
	}

	// .footer__container

	&__container {
		color: var(--white);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
		flex-wrap: wrap;
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: start;
		}
	}

	.contact-item-wrapper {
		display: flex;
		align-items: center;
		gap: toRem(30);
		flex-wrap: wrap;
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: start;
		}
	}

	&__link-wrapper {
		display: flex;
		align-items: center;
		gap: toRem(30);
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: start;
		}
		a {
			font-size: toRem(14);
			display: inline-block;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__bottom {
		padding-block: toRem(30);
		color: var(--white);
		background-color: #001227;
	}
}
.contact-item {
	@media (any-hover: hover) {
		&:hover {
			.contact-item__text {
				text-decoration: underline;
			}
		}
	}
	display: flex;
	gap: toRem(10);
	// .contact-items__icon

	&__icon {
		font-size: toRem(30);
	}

	// .contact-items__text

	&__text {
		font-weight: 500;
		padding-top: toRem(4);
	}
}
