@use "./settings" as *;
@use "./base/mixins" as *;
//========================================================================================================================================================
.header-logo {
	display: flex;
	align-items: center;
	gap: toRem(10);
	background-color: transparent;
	// .header-logo__icon

	&__icon {
	}

	// .header-logo__text

	&__text {
		@media (max-width: $tablet) {
			font-size: toRem(16);
		}
		font-size: toRem(20);
		transition: all 0.3s ease;
	}
}
.header-logo-icon {
	background-color: var(--primary);
	color: var(--white);
	width: toRem(75);
	height: toRem(75);
	padding: toRem(10);
	transition: all 0.3s ease;
	@media (max-width: $tablet) {
		width: toRem(60);
		height: toRem(60);
	}
	svg {
		width: 100%;
		height: 100%;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.section-title-1 {
	@include adaptiveValue("font-size", 78, 37);
	font-family: "Montserrat";
	span {
		color: var(--primary2);
	}
}
.section-title-2 {
	@include adaptiveValue("font-size", 40, 20);
	font-family: "Montserrat";
}
.section-head {
	padding-bottom: toRem(60);
}
