@use "./settings" as *;
@use "./base/mixins" as *;
//========================================================================================================================================================
main {
	padding-top: toRem(105);
}
